/*--------------------------------------------------------------
## Styleguide template
==============================================================*/
.page-template-page-styleguide {

  .block--styles {

    .paragraph,
    h1,h2,h3,h4 {
      border: 1px solid #f8f8f8;
    }

    p {
      font-size: 100%;
      vertical-align: baseline
    }

    span {
      align-items: center;
      border: 1px solid #eee;
      display: inline-flex;
      height: 41px;
      justify-content: center;
      margin-left: -1px;
      margin-top: -1px;
      width: 44px;
    }

    .paragraph {
      margin-top: 3rem;
    }
  }

  .block--colors {
    display: flex;
    flex-wrap: nowrap;

    .color {
      display: block;
      height: 4rem;
      width: 100%;
    }

  }

  .color-primary {
    background-color: clr(primary);
  }
  .color-secondary {
    background-color: clr(secondary);
  }
  .color-tertiary {
    background-color: clr(tertiary);
  }
  .color-white {
    background-color: clr(white);
  }
  .color-alt-white {
    background-color: clr(white, theme);
  }
  .color-grey {
    background-color: clr(grey);
  }
  .color-black {
    background-color: clr(black);
  }

}
