/*--------------------------------------------------------------
## Clickable
blocks with this class will open the link anywhere in container
as such, add clickfeedback etc here
==============================================================*/
.has-style-1 {

  .clickable {

    // hover --------------
    &:hover {
      cursor: pointer;

      .block__title {

        &::after,
        &::before {
          color: theme(style-1, btn-h);
        }
      }

      .click.block__link {
        color: theme(style-1, link-h);
        text-decoration: underline;

        &::before,
        &::after {
          color: inherit;
        }
      }
    }

    // active --------------
    &:active {
      cursor: pointer;

      .block__thumb,
      .block__img img,
      .wp-post-image {
        opacity: 0.9;
      }

      .block__title {

        &::after,
        &::before {
          color: theme(style-1, btn-a);
        }
      }

      .click.block__link {
        color: theme(style-1, link-a);

        &::before,
        &::after {
          color: inherit;
        }
      }

    }
  }
}
