/*--------------------------------------------------------------
### Block--link
--------------------------------------------------------------*/
.block--link {
  display: flex;
  flex-wrap: nowrap;
  margin-bottom: 0.25rem;
  @include bp-min($medium){
    margin-bottom: 0.5rem;
  }

  .block__title {
    font-size: 1em;
    padding-top: 6px;
    padding-bottom: 6px;
    @include bp-min($medium){
      font-size: 1.125em;
    }
    &::before {
      top: 0.6875em;
    }
  }

  .click {
    width: 100%;
    padding: 6px 0;
  }

}
