/*--------------------------------------------------------------
### Block--meta
--------------------------------------------------------------*/
.block--meta {
  
  .block--author {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}

.block--meta--bottom {

  .block--author {
    margin-top: 3rem;
    margin-bottom: 3rem;
  }
}
