/*--------------------------------------------------------------
## Buttons
==============================================================*/
// note: .button is the style class, .btn is layout

@mixin button() {
  background-color: theme(main, btn);
  border: 1px solid transparent;
  border-radius: $btn_radius;
  box-shadow: 1px 1px theme(main, border);
  color: theme(main, bg);
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  text-shadow: $text_shadow;
  touch-action: manipulation;
  user-select: none;
  white-space: nowrap;

  .clickable:hover &.click,
  &:hover {
    background-color: theme(main, btn-h);
    border-bottom: 1px solid theme(main, btn-a);
    color: theme(main, bg);
  }

  .clickable:active &.click,
  &:active {
    background-color: theme(main, btn-h);
    border-bottom: 1px solid theme(main, btn-a);
    color: theme(main, bg);
  }

}


.button {
  @include button();

  &:focus {
    outline: 0;
  }
}
