/*--------------------------------------------------------------
### preview--search
--------------------------------------------------------------*/
.preview--search {
  padding: 0 0.75rem;
  flex-wrap: wrap;

  .block__header {
    display: flex;
    flex-wrap: nowrap;
    padding: 0.5rem 0;
  }

  .block__type {
    background-color: theme(main, bg-alt);
    font-size: 0.875em;
    padding: 0.5rem;
    text-transform: capitalize;
  }

  .block__title {
    font-size: 1.375em;
    min-height: unset;
    margin: 0;

    a {
      color: inherit;
    }
  }

  .block__text {
    @include bp-min($medium){
      max-width: calc(100% - 140px);
    }
    p {
      font-size: 0.875em;
      min-height: unset;
    }
  }

  .block__footer {
    padding: 0.25em 0;
    text-align: right;
  }

  .block__link {
    font-size: 0.875em;
  }

}
