/*--------------------------------------------------------------
## preview--page--icon
--------------------------------------------------------------*/
.preview--page--icon {

  .block__img {
    width: 60%;
    @include center;

    @include bp-max($small) {
      width: 40%;
    }
    img {
      height: auto;
    }
  }

  .block__title {
    text-align: center;
  }

}
