/*--------------------------------------------------------------
### block__img--icon
--------------------------------------------------------------*/
.block__img--icon {
  height: $img-icon-m;
  width: $img-icon-m;

  img {
    object-fit: contain;
    width: 100%;
  }

  &.pad {
    padding: $pad;
  }
}
