/*--------------------------------------------------------------
## block-modifiers
==============================================================*/
.block {

  &.center {
    .block__text,
    .block__title {
      text-align: center;
    }
    .block__img--icon {
      margin-left: auto;
      margin-right: auto;
    }
  }

  &.has-pad {
    padding: $text_space;
  }

  &.has-pad--2 {
    padding: $text_space * 2;
  }
}
