/*--------------------------------------------------------------
### block__footer
--------------------------------------------------------------*/
.block__footer {
  display: block;
  margin-top: auto;
  width: 100%;

  &.is-left {
    text-align: left;
  }
}
