/*--------------------------------------------------------------
### block__list--icon
--------------------------------------------------------------*/
.block__list--icon {
  counter-reset: li;

  li {
    list-style: none;
    text-indent: 0;
    padding-left: 0.25em;

    &::before {
      @include fa();
      content: "\f111";
      padding-right: 0.5rem;
      position: relative;
      font-size: 0.5em;
      vertical-align: middle;
    }
  }
}
