/*--------------------------------------------------------------
### block__meta
--------------------------------------------------------------*/
.block__meta {
  font-size: 0.875em;
  line-height: 1.25rem;
  width: 100%;

  .tax {
    line-height: inherit;

    .tax__link {
      margin: 0.25rem 0.25rem 0 0;
      padding: 0.125rem 0.25rem 0.0625rem 0.25rem;;
    }
  }


  .date {
    border: 1px solid transparent;
    display: inline-block;
    line-height: 1.5rem;
    margin: 0.125rem 0.5rem 0 0;
    width: 100%;
  }

  .date--project {
    font-size: 1em;

    .date__end,
    .date__start {
      line-height: inherit;
    }

    &:before {
      @include fa();
      content: "\f073";
      margin-right: 0.25rem;
    }
  }

  .date--square {
    height: 54px;
    padding: 4px 0;
    text-align: center;
    width: 54px;

    .date__day {
      font-size: 22px;
      line-height: 23px;
    }
    .date__month {
      font-size: 20px;
      line-height: 23px;
    }
  }
}
