/*--------------------------------------------------------------
### Media Captions
--------------------------------------------------------------*/
.entry-caption,
.gallery-caption,
.wp-caption-text {
	font-size: 0.75em;
	font-style: italic;
}

.post-body,
.block--text {

	.wp-caption-text {
		margin-top: $text_space * 0.5;
		font-size: 0.75em;
	}
}

.featherlight .featherlight-content .caption {
	white-space: normal !important;
}
