/*--------------------------------------------------------------
## Footer
==============================================================*/
.site-footer {
  border: none;
	margin: 0 auto;
  position: relative;

  .footer--flex {
    padding-top: $grid_space;
    padding-bottom: $row_space_s - $grid_space;
    @include bp-min($medium){
      padding-top: $row_space_m;
      padding-bottom: $row_space_m - $grid_space;
    }
    @include bp-min($large){
      padding-top: $row_space_l;
      padding-bottom: $row_space_l - $grid_space;
    }
  }

  .block--footer {
    @include bp-max($medium){
      margin-bottom: $text_space;
    }
    li {
      @include bp-max($large){
        font-size: 15px;
      }
    }
  }
}


.footer--bottom {
  font-family: $font_site_info;

  .grid {
    flex-wrap: nowrap;

    > .block {
      margin-bottom: 0.75rem;
      margin-top: 0.75rem;
      font-size: 0.75em;;
      width: auto;
    }
  }

  ul > li {
    font-size: 1em;
    &.has-link {
      z-index: 2;
    }
  }
}
