/*--------------------------------------------------------------
## Attachment
==============================================================*/
// Single image attachment view
.article.attachment {
	overflow: hidden;
}

.image-attachment {

  .post-attachment {
	  text-align: center;

    p {
      text-align: center;
    }

    img {
	    display: block;
	    height: auto;
	    margin: 0 auto;
	    max-width: 100%;
    }
  }

  .entry-caption {
	  margin-top: 0.5rem;
  }
}

// Display text: 'Published on'
.image-attachment .posted-on .screen-reader-text {
	position: static!important;
  clip: auto;
	color: theme(site, base);
	height: auto;
	width: auto;
}

// Remove comments link
.image-attachment .comments-link {
	display: none;
}
