/*--------------------------------------------------------------
### Widgets WP Calendar
--------------------------------------------------------------*/
.widget_calendar {
  font-size: 0.75em;
	margin: 0;
	width: 100%;

  caption,
  td,
  th {
    font-size: 0.875em;
  	text-align: center;
  }

  caption {
    font-weight: 600;
    margin-bottom: 0.3125rem;
  }

  td#next {
  	border-width: 0 1px 1px 0;
  }

  td#prev,
  tfoot td.pad {
  	border-width: 0 0 1px 0;
  }

  #next {
  	padding-right: 24px;
  	padding-right: 1.5rem;
  	text-align: right;
  }

  #prev {
  	padding-left: 24px;
  	padding-left: 1.5rem;
  	text-align: left;
  }

  a {
    font-weight: bold;
    text-decoration: underline;
  }

  #next a,
  #prev a {
    font-weight: bold;
  }
} // .widget_calendar
