/*--------------------------------------------------------------
## Forminator style overrides
--------------------------------------------------------------*/
.block--form {

  .forminator-ui.forminator-custom-form[data-design=default]{
    margin-top: 0;
  }

  .forminator-ui.forminator-design--default {
    font-family: $font_main;
    margin-top: 0;

    .forminator-textarea,
    .forminator-input {
      background-color: theme(form, bg);
      color: theme(form, text);
      border-color: theme(form, border);

      &:hover {
        background-color: theme(form, bg);
        color: theme(form, text-h);
        border-color: theme(form, border-h);
      }
      &:focus,
      &:active {
        background-color: theme(form, bg-alt);
        color: theme(form, text-a);
        border-color: theme(form, border-a);
      }
    }

    .forminator-field {
      label {
        color: theme(form, label);
        font-weight: 400;
        font-size: 13px;
      }
    }

    .forminator-row {

      .forminator-button-submit {
        padding-left: 26px;
        padding-right: 26px;
      }
    }

  }
}


.has-style-1 {

  .block--form {

    .forminator-ui.forminator-design--default {
      .forminator-field {
        label {
          color: theme(style-1, bg-alt);
          text-shadow: 1px 1px 3px theme(style-1, btn-a);

          .forminator-required {
            color: theme(style-1, alt);
          }
        }
      }
    }
  }
}


// for comments
.comment-form {

  .comment-notes {
    background-color: theme(main, bg-alt);
    border: 1px solid theme(main, bg-alt);
  }

  label {
    color: theme(main, alt);
  }
}
