/*--------------------------------------------------------------
## Theme - header
--------------------------------------------------------------*/
.header--site {
  background-color: theme(header, bg);

  &__compact {
    background-color: theme(header, bg);

    .header--main {
      box-shadow: 0 3px 10px -6px rgba(0, 0, 0, 0.2);
    }
  }
}
.header--top {
  background-color: theme(header, bg);
  color: theme(header, text);
}

.site-title {
  font-style: $font_headings;
  color: theme(main);
}
.site-description {
  color: theme(main, alt);
}
