/*--------------------------------------------------------------
## Row--comments
==============================================================*/
// Comments area  = the whole area container
.row--comments {
  font-size: 0.9375em;
  padding-top: 2rem;
  padding-bottom: 2rem;

  .comment {
    border-bottom: 1px solid theme(main);
    margin-top: 0;
    padding-bottom: 0;
  }

  .author {
    margin: 0;
    padding: 0;
  }
}

// Comments title  = title for whole comment area
.comments__header {
  border-bottom: 2px solid theme(main);
  clear: both;
  padding-top: 1rem;

  .comments__title {
    border-bottom: 1px solid theme(main);
    font-size: 1.25em;
    font-weight: normal;
  	line-height: 32px;
    margin: 0;
    // block with inverted color
    background-color: theme(main);
    color: theme(main, bg);
    display: inline-block;
  	padding: 3px 8px;
  }
}

.bypostauthor {
  display: block;

  cite .post-author-label {
    background-image: none;
    box-shadow: none;
    font-size: 0.8125em;
    margin: 0 0 0 0.625rem;
    padding: 0.0625rem 0.3125rem;
  }
}

// Comment meta header
.comment__header {
  display: flex;
  margin-bottom: 1.25rem;
	position: relative;

  .avatar {
    line-height: 0;
    padding: 0;
  }

  .comment__meta {

    // author
    .comment__cite,
    .comment__date {
      display: block;
      font-size: 0.9375em;
      font-style: normal;
      line-height: 1.5rem;
      margin-left: 1rem;
      text-decoration: none;
    }

    // date
    .comment__date {
      color: theme(main);
      font-size: 0.8125em;
    }
  }
}

// List of the comments
.comments__list {
  list-style: none;
  margin: 0;

  .comments__list-item {
    margin-left: 0;
    padding-top: 2em;
  }
}

// comment on comment
.comments__list {

  .children {
    list-style: none;
    margin-bottom: 1em;
    padding-top: 1em;
    @include bp-min($medium){
      margin-left: 2.5em;
    }

    .comment {
      border-left: 1px solid theme(main);
      padding-left: 1em;
    }
  }
}

// Comment margin
.comment-content {
	margin-bottom: 0;
	padding-bottom: 0;
}


// Comment buttons area
.comment-content__links {
	padding-top: 0.5em;
  display: flex;
  flex-direction: row-reverse;

  .edit {
    margin-bottom: 0;
  }
  .reply {
    margin-left: 1em;
  }
}

// Comment edit-link & reply-link
.comment-edit-link,
.comment-reply-link {
  font-size: 0.8125em;
	background-color: theme(main);
  color: theme(main, bg);
	display: inline-block;
  text-align: center;
  text-decoration: none;
  touch-action: manipulation;
  user-select: none;
  white-space: nowrap;
  line-height: 32px;
  width: 5rem;
  width: 80px;
  @include bp-max($small) {
    line-height: 22px;
    width: 4rem;
    width: 64px;
  }
  @include bp-min($medium) {
    line-height: 22px;
    width: 6rem;
    width: 96px;
  }

  &:hover {
    background-color: theme(main, btn-h);
	  color: theme(main, bg);
  }

  &:active {
    background-color: theme(main, btn-a);
	  color: theme(main, bg);
  }
}

.comments__list .pingback {
  margin-bottom: 1em;
}
