/*--------------------------------------------------------------
### Navigation for Posts
--------------------------------------------------------------*/
.pagination {
	position: relative;
	text-align: center;

  // Do not display archive navigation page numbers in mobile view
  .page-numbers {
    display: none;
  }

  .next {
    display: inline-block;
    position: absolute;
    width: auto;
    right: 0;
    text-align: right;

    &::after {
      @include fa;
      content: "\f101"; // fa-angle-double-right
      font-size: inherit;
      font-weight: bold;
      padding-left: 6px;
      text-decoration: none;
    }
  }

  .prev {
    display: inline-block;
    position: absolute;
    width: auto;
    left: 0;
    text-align: left;

    // FontAwesome icons
    &::before {
      @include fa;
      content: "\f100"; // fa-angle-double-left
      font-size: inherit;
      font-weight: bold;
      padding-right: 6px;
      text-decoration: none;
    }
  }
}

// Page links container
.post-content .page-links {
  margin-bottom: 1.5rem;
  clear: both;

  // Page links title
  > .page-links-title {
    border: 0;
    font-size: 1em;
    height: auto;
    width: auto;
    margin: 0;
    padding-right: 0.5rem;
  }
  // Page links styling
  a,
  > span {
    border: 1px solid #eaeaea;
    border: 1px solid rgba(51, 51, 51, 0.1);
    display: inline-block;
    font-size: 0.8175em;
    line-height: 2;
    text-align: center;
    height: 1.75rem;
    width: 1.75rem;
    margin: 0 14px 6px 0;
    @include bp-min($large){
      margin: 0 6px 6px 0;
    }
  }
  a {
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0.3);
    text-decoration: none;
  }
  a:focus,
  a:hover {
    border-color: transparent;
  }
}
