/*--------------------------------------------------------------
## Post content
==============================================================*/
.post-content {

  .fa-external-link {
    font-size: 0.875em;
    margin: 0 0 0 2px;
    margin: 0 0 0 0.125rem;
    padding: 0 2px 0 2px;
    padding: 0 0.125rem 0 0.125rem;
    text-indent: 0;
    vertical-align: baseline;
    white-space: nowrap;
  }
}
