/*--------------------------------------------------------------
## Button-group
==============================================================*/
.button-group {
  margin-bottom: -($btn_space - 0.0625rem); // minus button border-box

  .btn {
    display: inline-block;
    margin-right: $btn_space;
    margin-bottom: $btn_space;

    &.is-checked {
      background-color: theme(main, btn-a);
      border-bottom-color: theme(main, btn-a);
    }

    .button-label::after {
      @include fa();
      content: "\f178";
      margin: 0 $btn_space;
      color: theme(main, alt);
    }

    &:active {
      .button-label::after {
        color: theme(main, alt);
      }
    }

  }


  &.fill {
    display: inline-block;
    width: auto;

    .btn {
      width: 100%;
      @include bp-min($medium) {
        max-width: 320px;
      }
    }
  }

  &.big {
    .btn {
      padding: 0.5rem 1rem;
    }
  }
}

.button-group--vert {

  .btn {
    display: block;
    text-align: left;
  }
}


.button-group--iso {
  margin-bottom: $text_space - $btn_space; // minus button margin

  .btn {
    font-size: 0.875em;
    @include bp-min($medium) {
      padding: 0.375rem 1.25rem;
    }
  }
}

.button-group-label {
  font-size: 0.75em;
  opacity: 0.65;
  line-height: 1rem;
}
