/*--------------------------------------------------------------
## Alignments
==============================================================*/
.alignleft,
.alignright,
.alignnone,
.aligncenter {
	clear: both;
	float: none;
	width: 100%;
}

.wp-caption {
	margin-top: 0;
	margin-bottom: 2em;
}

.alignleft {
	display: block;
	margin: $text_space auto $text_space 0;
	@include bp-min($medium){
		display: inline;
		float: left;
		margin-top: 0.25em;
		margin-right: 2.5em;
		width: auto;
	}
}

.alignright {
	display: block;
	margin: $text_space auto $text_space 0;
	@include bp-min($medium){
		display: inline;
		float: right;
		margin-top: 0.25em;
		margin-left: 2.5em;
		width: auto;
	}
}

.aligncenter {
	margin: $text_space auto $text_space 0;
	@include bp-min($medium){
		clear: both;
		display: block;
		margin: $text_space auto;
		width: auto;
	}
}

.alignnone {
	margin: 0 auto $text_space 0;
	@include bp-min($medium){
		width: auto;
	}
}

// clear floats
/*
.post-body p {
	clear: both
}
*/
