/*--------------------------------------------------------------
## Clearings
==============================================================*/
.clear::before,
.clear::after,
// entry
//.post-body::before,
//.post-body::after,
// comments
.comment-content::before,
.comment-content::after,
.comment-navigation::after,
.comment-navigation::before,
// nav in content
.content-area nav::after,
.content-area nav::before {
	content: "";
	display: table;
	table-layout: fixed;
}

.clear::after,
// entry
//.post-body::after,
// comments
.comment-content::after,
.comment-navigation::after,
// nav in content
.content-area nav::after {
	clear: both;
}
