/*--------------------------------------------------------------
## Tables
==============================================================*/
table, td, th {
	border: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
	caption-side: bottom;
	margin: 0 0 1em;
	table-layout: fixed; // Prevents HTML tables from becoming too wide
	width: 100%;

	caption {
		border-top: 1px solid;
		font-style: italic;
		margin-top: 0.75em;
	}

}
thead,

caption, td, th {
	font-weight: normal;
	text-align: left;
}

td, tr, th {
	word-break: break-all;
}

// simple clean spaced table
.table {
	font-size: 0.875em;
	@include bp-min($medium){
		font-size: 1em;
	}

	caption {
		padding: 0.375em 0.375em 0.375em;
	}

	td, tr, th {
		padding: 0.375em;
		word-break: break-all;
	}
}

// simple table with margins for borders
.table--margin {

	$t_margin: 4px;

	caption {
		border: none;
	}

	td, tr, th {
		border: $t_margin solid;
	}

}
