/*--------------------------------------------------------------
### Wrap-main__center
--------------------------------------------------------------*/
$width__center-m: 782px;  // max width
$width__center-l: 960px;

.wrap-main--center {

  .wrap {
    max-width: $width__center-m - 48px;

    .wrap {
      max-width: unset;
    }
  }

  .page-featured-image.wrap,
  .post-featured-image.wrap {
    max-width: 100%;
    width: 100%;
  }

  #primary {
    width: 100%;
  }
}

.attachment {

  .wrap-main--center {

    #primary {
      @include center;
      max-width: 100%;
    }

    .wrap {
      max-width: $width__center-m;
      @include bp-min($medium) {
        max-width: $width__center-m - 48px;
      }
    }
  }
}
