/*--------------------------------------------------------------
### Wrap--header
--------------------------------------------------------------*/
.wrap--header {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-end;

  @include bp-min($medium){
    flex-wrap: nowrap;
  }

  &.wrap {
    max-width: $width_site_max;
  }

}
