// Humanify base mixins

@mixin body-font {
	font-family: $font_main;
}

@mixin heading-font {
	font-family: $font_headings;
	font-weight: 400;
}

// Center
@mixin center() {
	margin-left: auto;
	margin-right: auto;
}

// Breakpoint min-width
@mixin bp-min($point: 0) {
  @media (min-width: ($point + 0px)) {
    @content;
  }
}
// Breakpoint max-width
@mixin bp-max($point: 0) {
  @media (max-width: ($point - 1px)) {
    @content;
  }
}

// Responsive (neg. margin) block witdh
@mixin calc-width($block: 100, $space: $grid_space) {
	width: calc(#{$block * 1%} - #{$space * 2});
}


// Wrap in clickable states
@mixin click-h($class) {
	.#{$class}:hover,
	.clickable:hover .click.#{$class} {
		@content;
	}
}
@mixin click-a($class) {
	.#{$class}:active,
	.clickable:active .click.#{$class} {
		@content;
	}
}


@import "mixins/mixins__effects";
@import "mixins/mixins__triangle";
@import "mixins/mixins__fa";
