/*--------------------------------------------------------------
### Grid--footer
--------------------------------------------------------------*/
$grid_foot: 1.5rem;

.grid--footer {
  flex-wrap: wrap;
  margin-left: -$grid_foot;
  margin-right: -$grid_foot;

  @include bp-min($medium) {
    flex-wrap: nowrap;
  }

  .block--footer {
    margin-left: $grid_foot;
    margin-right: $grid_foot;

    @include calc-width(100, $grid_foot);

    @include bp-min($small) {
      @include calc-width(50, $grid_foot);
    }
    @include bp-min($medium) {
      @include calc-width(100, $grid_foot);
    }
  }
}
