/*--------------------------------------------------------------
## Page-title
--------------------------------------------------------------*/
.page-title {
	margin: 0;

  a {
    text-decoration: none;
  }
}

.page-title__inverse {
  background-color: theme(main);
  color: theme(main, bg);
  padding: 0.75rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
	width: auto;
}
