/*--------------------------------------------------------------
### Page-header
--------------------------------------------------------------*/
.page-header {
	padding-top: $row_space_s;
	padding-bottom: $row_space_s - $grid_gut;
	position: relative;
	@include bp-min($medium) {
		padding-top: $row_space_m;
		padding-bottom: $row_space_m - $grid_gut;
	}
	@include bp-min($large) {
		padding-top: $row_space_l;
		padding-bottom: $row_space_l - $grid_gut;
	}

	.page-title + .block__text {
		margin-top: $text_space;
	}

	&.has-img {
		padding-bottom: $row_space_s;

		@include bp-min($medium) {
			padding-bottom: $row_space_m;
		}
		@include bp-min($large) {
			padding-bottom: $row_space_l;
		}
	}

	&--archive,
	&.compact {
		padding-top: 3em;
		padding-bottom: 1em;
		@include bp-min($medium){
			padding-top: 4em;
			padding-bottom: 2em;
		}

		&.has-img {
			padding-top: 4em;
			padding-bottom: 4em;
		}
	}
}
