/*--------------------------------------------------------------
### Menu for search
--------------------------------------------------------------*/
// Add Twenty Thirteen search form to WordPress nav menu
.menu-item.menu-item-search {
	margin: 4px 0 0 0;
	margin: 0.25rem 0 0 0;
}

.header--site {

	input[type="search"] {
		padding-right: 2px; // Don't cut off the webkit search cancel button
		padding-right: 0.125rem;
		width: 270px;
		width: 19.285714286rem;
	}

	input[type="search"]:-webkit-search-decoration {
		-webkit-appearance: none;
	}

	.search-form {

		[type="search"],
		[type="text"] {
			background-color: transparent;
			background-image: url('/images/icon-search.png');
			background-position: 5px center;
			background-repeat: no-repeat;
			background-size: 24px 24px;
			border: none;
			cursor: pointer;
			height: 30px;
			margin: 3px 0;
			margin: 0.1875rem 0;
			padding: 0 0 0 34px;
			padding: 0 0 0 2.125rem;
			position: relative;
			transition: width 400ms ease, background 400ms ease;
			width: 0;

			&:focus {
				background-color: #f5f5f5;
				border: 1px solid #bbb;
				box-shadow: none;
				cursor: text;
				outline: 0;
				width: 230px;
				width: 16.428571429rem;
			}
		}

		[type="submit"] {
			display: none;
		}
	}

	// Search form for mobile menu
	.search-container-mobile {

		.search-form {

			[type="search"],
			[type="text"] {
				background-color: #d0d0d0;
				margin: 6px 0 0 6px;
				margin: 0.375rem 0 0 0.375rem;
				width: 130px;
				width: 9.285714286rem;

				&:focus{
					background-color: #f5f5f5;
					border: 0;
					width: 50%;
				}
			}
		}
	}
}
