// EM - Size in em if the property scales according to its font-size
// REM - Everything else in rem.

// font
$font_main: 'Open Sans', sans-serif;
$font_headings: 'Open Sans', sans-serif;
$font_code: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font_pre: "Courier 10 Pitch", Courier, monospace;

$font_menu: $font_headings;
$font_footer: $font_main;
$font_site_info: $font_footer;

// line
$lh_body: 1.4;
$line-height-head: 1.25;


// FONTS MAP -----------------------------------------------------------------/
// $fonts ( $type, $size )

$fonts: (
  p: (
    base: 15,
    small: 15,
    medium: 16,
    large: 17,
    // line
    line-s: 1.5,
    line-m: 1.7,
  ),
  h1: (
    base: 30,
    small: 36,
    medium: 44,
    large: 48,
    // line
    line-s: 1.25,
    line-m: 1.25,
  ),
  h2: (
    base: 26,
    small: 34,
    medium: 38,
    large: 42,
    // line
    line-s: 1.25,
    line-m: 1.25,
  ),
  h3: (
    base: 20,
    small: 24,
    medium: 28,
    large: 32,
    // line
    line-s: 1.25,
    line-m: 1.25,
  ),
  h4: (
    base: 17,
    small: 20,
    medium: 22,
    large: 22,
    // line
    line-s: 1.25,
    line-m: 1.25,
  ),
  btn: (
    base: 14,
    small: 14,
    medium: 15,
    large: 16,
  ),
  prev: (
    base: 14,
    small: 15,
    medium: 15,
    large: 16,
    // line
    line-s: 1.4,
    line-m: 1.5,
  ),
  prev-title: (
    base: 18,
    small: 22,
    medium: 24,
    large: 26,
    // line
    line-s: 1.25,
    line-m: 1.25,
  ),
  post: (
    base: 16,
    small: 16,
    medium: 17,
    large: 18,
    // line
    line-s: 1.5,
    line-m: 1.7,
  ),
);

// COMPUTE VALUES ------------------------------------------------------------/

// get font-size in em from map
@function fontsize_em($type, $size: base) {
  $fontsize_em: map-get(map-get($fonts, $type), $size) * 0.0625em;
  @return $fontsize_em;
}

// get font-size in px from map
@function fontsize_px($type, $size: base) {
  $fontsize: map-get(map-get($fonts, $type), $size) * 1px;
  @return $fontsize;
}

// get line height from map
@function lineheight($type, $size: line-s) {
  $lineheight: map-get(map-get($fonts, $type), $size);
  @return $lineheight;
}

// MIXIN FONTS ---------------------------------------------------------------/

// em scaled
@mixin font_em($type) {
  font-size: fontsize_em($type, base);
  line-height: lineheight($type, line-s);

  @include bp-min($small) {
    font-size: fontsize_em($type, small);
  }
  @include bp-min($medium) {
    font-size: fontsize_em($type, medium);
    line-height: lineheight($type, line-m);
  }
  @include bp-min($large) {
    font-size: fontsize_em($type, large);
  }
}

// pixel scaled
@mixin font_px($type) {
  font-size: fontsize_px($type, base);
  line-height: lineheight($type, line-s);

  @include bp-min($small) {
    font-size: fontsize_px($type, small);
  }
  @include bp-min($medium) {
    font-size: fontsize_px($type, medium);
    line-height: lineheight($type, line-m);
  }
  @include bp-min($large) {
    font-size: fontsize_px($type, large);
  }
}

// MIXIN FONT-FILL -----------------------------------------------------------/

// min-height fill for lines * lineheight
@mixin font-fill($type, $breakpoint, $lines) {

	@if $breakpoint == base {

	 line-height: lineheight($type, line-s);
	 min-height: ($lines * lineheight($type, line-s)) * 1em;
	 font-size: fontsize_em($type, base);

 } @else if $breakpoint == small {

		line-height: lineheight($type, line-s);
		min-height: ($lines * lineheight($type, line-s)) * 1em;
		font-size: fontsize_em($type, base);

	} @else if $breakpoint == medium {

		line-height: lineheight($type, line-m);
		min-height: ($lines * lineheight($type, line-m)) * 1em;
		font-size: fontsize_em($type, medium);

	} @else if $breakpoint == large {

		min-height: ($lines * lineheight($type, line-m)) * 1em;
   	font-size: fontsize_em($type, large);

	}

}
