/*--------------------------------------------------------------
## TinyMCE editor
==============================================================*/
html .mce-content-body {
	max-width: 720px;
}

body {
	color: #222;
	font-family: "Open Sans", Verdana, Geneva, "DejaVu Sans", sans-serif;
	font-size: 16px;
	font-size: 1rem;
	line-height: 1.8;
	text-rendering: optimizeLegibility;
}
