/*--------------------------------------------------------------
## TinyMCE alignments
==============================================================*/
@import "base/alignments";

/* Do not add top margin if image is at the top of the post */
img.aligncenter:first-child,
figure.aligncenter:first-child {
	margin-top: 0;
}

div.wp-caption.alignright img[class*="wp-image-"],
figure.alignright img[class*="wp-image-"],
div.wp-caption.alignright .wp-caption-text,
figure.alignright .wp-caption-text {
	padding-left: 0;
	padding-right: 0;
}
