/*--------------------------------------------------------------
## TinyMCE button & forms
==============================================================*/

/* General styles first */
button,
input,
select,
textarea {
	border: 1px solid #ccc;
	border-radius: 3px;
	font-family: inherit;
	padding: 6px;
	padding: 0.375rem;
}
button,
input {
	line-height: normal;
}

/* Buttons */
.btn,
.menu-toggle,
input[type="submit"],
input[type="button"],
input[type="reset"],
article.post-password-required input[type=submit],
.bypostauthor cite .post-author-label {
/* Twitter Bootstrap .btn style */
	display: inline-block;
	padding: 6px 12px;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: normal;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	/*vertical-align: middle;*/
	-ms-touch-action: manipulation;
	  touch-action: manipulation;
	cursor: pointer;
	-webkit-user-select: none;
	 -moz-user-select: none;
	  -ms-user-select: none;
		  user-select: none;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px;
/* End - Twitter Bootstrap .btn style */
	background-color: #e6e6e6;
	background-repeat: repeat-x;
	background-image: -moz-linear-gradient(to top, #f4f4f4, #e6e6e6);
	background-image: -ms-linear-gradient(to top, #f4f4f4, #e6e6e6);
	background-image: -webkit-linear-gradient(to top, #f4f4f4, #e6e6e6);
	background-image: -o-linear-gradient(to top, #f4f4f4, #e6e6e6);
	background-image: linear-gradient(to top, #f4f4f4, #e6e6e6);
	border: 1px solid #ccc;
	border-radius: 3px;
    -webkit-box-shadow: 0 1px 2px rgba(64, 64, 64, 0.1);
       -moz-box-shadow: 0 1px 2px rgba(64, 64, 64, 0.1);
            box-shadow: 0 1px 2px rgba(64, 64, 64, 0.1);
	color: #5a5a5a;
}
.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus,
.menu-toggle:focus,
button:focus,
input[type="submit"]:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
article.post-password-required input[type=submit]:focus {
	outline: thin dotted;
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px;
}
.btn:hover,
.btn:focus,
.btn.focus,
.menu-toggle:hover,
button:hover,
button:focus,
input[type="submit"]:hover,
input[type="submit"]:focus,
input[type="button"]:hover,
input[type="button"]:focus,
input[type="reset"]:hover,
input[type="reset"]:focus,
article.post-password-required input[type=submit]:hover,
article.post-password-required input[type=submit]:focus {
	color: #333;
	text-decoration: none;
	background-color: transparent; /* Back compat. for IE8 */
	background-color: rgba(0%, 0%, 0%, 0.045);
	background-image: none;
}
.btn:active,
.btn.active,
.menu-toggle:active,
.menu-toggle.toggled-on,
button:active,
input[type="submit"]:active,
input[type="button"]:active,
input[type="reset"]:active {
	color: #333;
	text-decoration: none;
	background-color: transparent; /* Back compat. for IE8 */
	background-color: rgba(0%, 0%, 0%, 0.1);
	background-image: none;
	outline: 0;
}
button[disabled],
input[disabled],
.btn.disabled,
.btn[disabled],
fieldset[disabled] .btn {
	pointer-events: none;
	cursor: not-allowed;
	filter: alpha(opacity=65);
	-webkit-box-shadow: none;
		  box-shadow: none;
	opacity: .65;
}
.btn-lg {
	padding: 10px 16px;
	font-size: 18px;
	line-height: 1.3333333;
	border-radius: 6px;
}
.btn-sm {
	padding: 5px 10px;
	font-size: 12px;
	line-height: 1.5;
	border-radius: 3px;
}
.btn-xs {
	padding: 1px 5px;
	font-size: 12px;
	line-height: 1.5;
	border-radius: 3px;
}
.btn + .btn {
	margin: 12px 0;
	margin: 0.75rem 0;
}
