/*--------------------------------------------------------------
## TinyMCE elements - list
==============================================================*/
@import "base/lists/list";


// -----------
ul,
ol {
	margin: 0 0 1.5rem 1.375rem;
}

ol,
ul {
	margin: 0 0 24px;
	margin: 0 0 1.5rem;
}


ul ul,
ol ol,
ul ol,
ol ul {
	margin: 12px 0 12px 0;
	margin: 0.75rem 0 0.75rem 0;
}


ul {
	list-style: disc outside;

	> li {
		margin: 0 0 0.5em 2.25em;
		padding: 0;
	}
}


ol {
  list-style: decimal outside;

	> li {
		margin: 0 0 0.5em 2.25em;
		padding: 0;
	}
}
