/*--------------------------------------------------------------
## Row
==============================================================*/
.row {
  position: relative;
}

.row--map {

  &.is-wide {
    padding: 0;

    > .wrap {
      max-width: unset;
      width: 100%;

      .block--map {
        margin-bottom: 0;
      }
    }
  }
}

.row.row--share {
  padding-top: 0;
  padding-bottom: 0;
}
