/*--------------------------------------------------------------
## Row-padding
==============================================================*/
.row {
  padding-top: $row_space_s;
  padding-bottom: $row_space_s - $grid_gut;
  @include bp-min($medium) {
    padding-top: $row_space_m;
    padding-bottom: $row_space_m - $grid_gut;
  }
  @include bp-min($large) {
    padding-top: $row_space_l;
    padding-bottom: $row_space_l - $grid_gut;
  }

  .row {
    padding: 0;
  }

  &.has-img {
    padding-bottom: $row_space_s;

    @include bp-min($medium) {
      padding-bottom: $row_space_m;
    }
    @include bp-min($large) {
      padding-bottom: $row_space_l;
    }
  }

  &.row--previews:not(.has-img) {
    padding-bottom: ($row_space_s - $grid_gut_prev * 1.5);

    @include bp-min($medium) {
      padding-bottom: $row_space_m - $grid_gut_prev;
    }
    @include bp-min($large) {
      padding-bottom: $row_space_l - $grid_gut_prev * 2;
    }
  }

  &.compact {
    padding-top: $text_space * 1.5;
    padding-bottom: $text_space * 1.5;
  }

}

// remove top padding for equal rows
// two times has-bg
.has-bg + .has-bg,
// two times style-1
.has-style-1 + .has-style-1,
// two rows without styles
.row:not(.has-bg):not(.has-style-1):not(.has-img) + .row:not(.has-bg):not(.has-style-1):not(.has-img) {
  padding-top: 0;
}
.page-header:not(.has-bg):not(.has-style-1):not(.has-img) + .page-content > .row:first-of-type:not(.has-bg):not(.has-style-1):not(.has-img) {
  padding-top: 0;
}
