/*--------------------------------------------------------------
### row__title
--------------------------------------------------------------*/
.row__title {
  margin-top: 0;
  margin-left: 0;
  margin-bottom: 2rem;

  a {
    text-decoration: none;

    &:hover,
    &:active {
      text-decoration: underline;
    }
  }

  &--theme {
    padding: 0.5rem 1rem;
    display: inline-block;
    width: auto;
  }

}
