/*--------------------------------------------------------------
## Lists
==============================================================*/
ul {
	list-style: disc;
	list-style-position: inside;
	margin: 0;
	padding: 0;
}

ol {
	list-style: decimal;
	list-style-position: inside;
	padding: 0;
}

ul, ol {
	li {
		position: relative; // for icons placement
		margin: 0;
	}
}

ul ul li {
	list-style-position: inside;
}

// vertical spacing nested lists
li > ul,
li > ol {
	margin-top: 0.375em;
	margin-bottom: 0;
}

// description tag - term, descr, list
dt {
	font-weight: bold;
}

dd {
	margin: 0 1.5em 1.5em;
}

dl {
	margin-bottom: 1.5em;
}
