/* columnize product edit page */
.post-type-products .meta-box-sortables {
	display: flex;
	flex-wrap: wrap;
	margin-left: -10px;
	margin-right: -10px;
}

.post-type-products .meta-box-sortables #wpseo_meta {
	margin-left: 10px;
	margin-right: 10px;
	min-width: unset;
	width: calc(75% - 24px);
}

.post-type-products .meta-box-sortables #cat_productdiv {
	margin-left: 10px;
	margin-right: 10px;
	min-width: unset;
	width: calc(25% - 24px);
}

.post-type-products .meta-box-sortables #hum-tag_allergy {
	margin-left: 10px;
	margin-right: 10px;
	min-width: unset;
	width: calc(25% - 24px);
}

.post-type-products .meta-box-sortables #hum-tag_health {
	margin-left: 10px;
	margin-right: 10px;
	min-width: unset;
	width: calc(25% - 24px);
}

.post-type-products .meta-box-sortables #hum-tag_choice {
	margin-left: 10px;
	margin-right: 10px;
	min-width: unset;
	width: calc(25% - 24px);
}

.post-type-products .meta-box-sortables .acf-postbox {
	margin-left: 10px;
	margin-right: 10px;
	min-width: unset;
	width: calc(100% - 24px);
}
